@model Problem
@{
    ViewBag.Title = "编辑题目 - " + Model.Title;
    var IsMaster = (bool)ViewBag.IsMaster;
    var IsCreator = (bool)ViewBag.IsCreator;
}
<script type="text/javascript" src="~/Scripts/ckeditor/ckeditor.js"></script>
<div class="post-detail-body">
    <div class="cont-wrap">
        <div class="grid_12">
            <div class="post-detail-wrap-outer">
                <div class="profile-actions">
                    <a href="/Contest/Settings/Problems/@Model.ID" class="profile-btn"><img src="/Images/back.png" alt="返回题目列表" /></a>
                    <a href="/Problem/Edit/@Model.ID" class="profile-btn"><img src="/Images/description.png" alt="基本信息管理" /></a>
                    <a href="/Problem/TestCases/@Model.ID" class="profile-btn"><img src="/Images/code.png" alt="测试数据管理" /></a>
                    <a href="/Problem/Special/@Model.ID" class="profile-btn"><img src="/Images/judgers.png" alt="特殊比较器" /></a>
                    <a href="/Problem/Standard/@Model.ID" class="profile-btn"><img src="/Images/judgers.png" alt="标程" /></a>
                    <a href="/Problem/Range/@Model.ID" class="profile-btn"><img src="/Images/judgers.png" alt="数据范围校验器" /></a>
                    <a href="/Solution/@Model.ID" class="profile-btn"><img src="/Images/contests.png" alt="解题报告" /></a>
                </div>
                <div class="post-detail-wrap">
                    <div class="post-title"><h2>编辑题目 - @Model.Title</h2></div>
                    <div class="post-info"></div>
                    <div class="post-content">
                        @using (Html.BeginForm("Edit", "Problem", new { id = Model.ID }, FormMethod.Post, null))
                        {
                            @Html.AntiForgeryToken()
                            <p>题目名称：@Html.TextBoxFor(x => x.Title, new { @class = "textbox", style = "width:470px" })</p>
                            <p>时间限制：@Html.TextBoxFor(x => x.TimeLimit, new { @class = "textbox" }) ms per test case</p>
                            <p>空间限制：@Html.TextBoxFor(x => x.MemoryLimit, new { @class = "textbox" }) KiB</p>
                            <p>题目分数：@Html.TextBoxFor(x => x.Credit, new { @class = "textbox" }) CF、TC赛制计算动态分数，题目按分数升序排序</p>
                            if (ViewBag.CurrentUser.Role >= CodeComb.Entity.UserRole.Master)
                            { 
                                <p>能力值：@Html.TextBoxFor(x => x.Difficulty, new { @class = "textbox" }) 计算Rating时使用</p>
                            }
                            <p>背景：@Html.TextAreaFor(x => x.Background, new { @class = "ckeditor" })</p>
                            <p>描述：@Html.TextAreaFor(x => x.Description, new { @class = "ckeditor" })</p>
                            <p>输入格式：@Html.TextAreaFor(x => x.Input, new { @class = "ckeditor" })</p>
                            <p>输出格式：@Html.TextAreaFor(x => x.Output, new { @class = "ckeditor" })</p>
                            <p>备注：@Html.TextAreaFor(x => x.Hint, new { @class = "ckeditor" })</p>
                            <p><input type="submit" class="button button-def" value="保存" /></p>
                        }
                    </div>
                </div>
            </div>
        </div><div class="clear"></div>
    </div>
</div>