<div style="display: none">
    <div id="PrivateMessage">
        <div style="float:left; min-width:180px;min-height:490px;">
            <h3>Contacts</h3>
            <div id="lstContacts" style="overflow-y:scroll;min-height:440px;min-width:175px"></div>
        </div>
        <div style="float:left; min-width:490px;margin-left:10px;" id="PMRightArea">
            <div style="border: 1px solid #ccc; height: 400px; overflow-y: auto; padding: 15px 15px 15px 15px; width:483px" id="ChatRecords"></div>
            <div style="margin-top:10px">
                <textarea id="txtMessageContent" style="width:400px;height:42px;margin:-top:1px;" placeholder="按 Ctrl + Enter 发送"></textarea>
                <button role="button" id="btnPostMessage" class="button button-def" style="height:40px;width:57px;">发送</button>
                <div class="clear" style="display:none"></div>
            </div>
        </div>
    </div>
</div>
