<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Styles/css.css" rel="stylesheet" type="text/css" charset="UTF-8" />
    <link href="~/Styles/colorbox.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/jquery-1.11.1.min.js"></script>
    <script src="~/Scripts/codecomb.basic.js"></script>
    <script src="~/Scripts/codecomb.ajax.js"></script>
    <script src="~/Scripts/jquery.colorbox.js"></script>
    <!--[if lt IE 9]>
    <link href="/Styles/css-ie.css" rel="stylesheet" type="text/css" charset="UTF-8" />
    <![endif]-->
    <!--[if lt IE 8]>
    <script src="/Scripts/json2.js"></script>
    <![endif]-->
    <!--[if lt IE 9]>
    <script src="/Scripts/jplaceholder.js"></script>
    <![endif]-->
    <!--[if lte IE 6]>
    <script src="/Scripts/png.js"></script>
    <![endif]-->
    <title></title>
</head>
<body>
    <div style="padding: 15px 15px 15px 15px;">
        @RenderBody()
    </div>
</body>
</html>
