@{
    ViewBag.Title = "关于";
    ViewBag.BannerTitle = "Code Comb";
}

<div class="contest-body">
    <div class="cont-wrap">
        <div class="grid_9">
            <div class="contest-main shadow" style="margin-bottom: 30px;" id="section-1">
                <div class="post-info"><h3>关于 Code Comb</h3></div>
                <h4>Code Comb 介绍</h4>
                <blockquote>
                    <p>Code Comb是一个开放的程序设计竞赛控制平台，同时提供了题库功能，在本平台上可以举办多种赛制，同时提供了赛场配套服务，例如答疑平台、打印服务等功能。裁判可以通过手机客户端来为选手答疑，比赛举办方可使用配套的客户端进行实时排名的投影。</p>
                    <p>Code Comb是基于.Net Framework 4.5平台，使用了MVC 5、Entity Framework 6、SignalR 2等框架，大量使用“推送”功能以减少服务器负担，同时也减少了用户的刷新频次，节省了流量。</p>
                    <p>Code Comb以网站为核心进行扩展，提供了基于OAuth 2的Web API，使用Xamarin Studio实现了iOS、Android的平板电脑客户端及手机客户端。</p>
                    <p>通过OAuth 2接口，您可以与您的应用进行整合，初级接口允许用户授权，并跨域提交评测、获取比赛排名等，高级接口则允许您的应用在Code Comb上创建临时帐户，与您应用平台中的用户进行直接绑定。</p>
                    <p>Code Comb是一个开源项目，项目托管于GitHub：<a href="https://github.com/CodeComb/CodeComb">点击进入</a></p>
                    <p>Code Comb由Visual Studio 2013集成开发环境创建，您可以通过Clone上面的仓库来进行编译，Code Comb使用了Entity Framework作为数据库抽象层，因此Code Comb可以连接大部分数据库，如MySQL、Oracle等。</p>
                    <p>在评测机进行评测时，服务器将会把一个评测任务划分成若干部分，并且传递给不同的评测节点并行评测。Code Comb项目组同时开发了Windows版本的评测节点和Linux版本的评测节点，并且同时连接了Win和Linux的评测节点。</p>
                    <p>使用Lib Mono可以将CodeComb的网站运行在Linux的服务器下。</p>
                </blockquote>
                <h4>Code Comb 作者 (按贡献排序)</h4>
                <blockquote>
                    <p><label style="width: 100px;">服务端：</label><small>Gasai Yuno</small></p>
                    <p><label style="width: 100px;">前端：</label><small>Breeswish, Gasai Yuno, Ivy-End</small></p>
                    <p><label style="width: 100px;">评测：</label><small>Gasai Yuno, 轩轩醉了, tangjz</small></p>
                    <p><label style="width: 100px;">iOS：</label><small>Gasai Yuno</small></p>
                    <p><label style="width: 100px;">Android：</label><small>UFreedom</small></p>
                    <p><label style="width: 100px;">WP8：</label><small>Gasai Yuno</small></p>
                    <p><label style="width: 100px;">参与：</label><small>Cloris ,Liu.Geek , 幽幽子姐姐</small></p>
                </blockquote>
            </div>

            <div class="contest-main shadow" style="margin-bottom: 30px;" id="section-2">
                <div class="post-info"><h3>隐私</h3></div>
                <p>我们收集信息是为了向所有用户提供更好的服务。我们有两种信息收集方式：</p>
                <ul>
                    <li>
                        <p>您向我们提供信息。在您注册 Code Comb 帐户时，我们会要求您提供个人信息，例如您的电子邮件地址、昵称等。</p>
                    </li>
                    <li>
                        <p>我们在您使用服务的过程中获取信息。我们会收集关于您使用的服务以及使用方式的信息，例如您在何时使用了我们服务。</p>
                    </li>
                </ul>
                <h4>2. 如何使用收集到的信息</h4>
                <p>我们利用从所有服务中收集的信息来提供、维护、保护和改进这些服务，同时开发新的服务并保护 Code Comb 以及用户的隐私。</p>
                <p>当我们要将信息用于本隐私权政策未载明的其它用途时，则会事先征求您的同意。</p>
                <h4>3. 访问和更新您的个人信息</h4>
                <p>无论您在何时使用我们的服务，我们都力求让您能够访问自己的个人信息。如果这些信息有误，我们会努力通过各种方式让您快速更新信息或删除信息。在更新您的个人信息时，我们可能会要求您先验证自己的身份，然后再处理您的请求。</p>
                <p>我们力求对服务进行完善的维护，以保护信息免遭意外或恶意的破坏。因此，当您从我们的服务中删除信息后，我们可能不会立即从在用的服务器中删除这些信息的残留副本，也可能不会从备份系统中删除相应的信息。</p>
                <h4>4. 信息安全</h4>
                <p>我们为您提供SSL加密访问服务，您可以通过SSL(https)使用我们的服务，这可以很大程度上保障在传输过程中您信息的安全。</p>
                <p>对于敏感数据（如您的密码），我们承诺在存储时进行高强度加密。Code Comb 的管理员、维护人员等均不能够访问到敏感数据的明文，所有操作均无人工介入。</p>
            </div>

            <div class="contest-main shadow" style="margin-bottom: 30px;" id="section-3">
                <div class="post-info"><h3>联系我们</h3></div>
                <h4>Gasai Yuno:</h4>
                <blockquote>
                    <p><label style="width: 100px;">负责：</label>开发、系统维护、合作洽谈、BUG反馈</p>
                    <p><label style="width: 100px;">QQ：</label>911574351</p>
                    <p><label style="width: 100px;">Email：</label>1#4321.io</p>
                </blockquote>

                <h4>tangjz:</h4>
                <blockquote>
                    <p><label style="width: 100px;">负责：</label>比赛审核</p>
                    <p><label style="width: 100px;">QQ：</label>251346744</p>
                    <p><label style="width: 100px;">Email：</label>251346744#qq.com</p>
                </blockquote>

                <h4>轩轩醉了:</h4>
                <blockquote>
                    <p><label style="width: 100px;">负责：</label>比赛审核</p>
                    <p><label style="width: 100px;">QQ：</label>459975111</p>
                    <p><label style="width: 100px;">Email：</label>459975111#qq.com</p>
                </blockquote>

                <h4>Ivy-End:</h4>
                <blockquote>
                    <p><label style="width: 100px;">负责：</label>技术支持（解答开放平台、二次开发问题）</p>
                    <p><label style="width: 100px;">QQ：</label>524218807</p>
                    <p><label style="width: 100px;">Email：</label>524218807#qq.com</p>
                </blockquote>

                <h4>Liu.Geek:</h4>
                <blockquote>
                    <p><label style="width: 100px;">负责：</label>客户服务（为用户解答使用问题）</p>
                    <p><label style="width: 100px;">QQ：</label>447896780</p>
                    <p><label style="width: 100px;">Email：</label>447896780#qq.com</p>
                </blockquote>
            </div>

            <div class="contest-main shadow" id="section-4">
                <div class="post-info"><h3>服务条款</h3></div>
                <h4>1. 使用服务</h4>
                <p>您必须遵守服务中提供的所有政策。</p>
                <p>请勿滥用我们的服务。如，请勿干扰我们的服务，或尝试使用除我们提供的界面和指示以外的方法访问这些服务，或使用我们服务中出现的缺陷干扰其他网站或设施的正常运行。您仅能在法律允许的范围内使用我们的服务。</p>
                <p>您在使用我们服务时须遵守法律法规，不得利用我们服务从事违法违规行为，包括但不限于：</p>
                <ol>
                    <li>发布、传送、传播、储存危害国家安全统一、破坏社会稳定、违反公序良俗、侮辱、诽谤、淫秽、暴力以及任何违反国家法律法规的内容；</li>
                    <li>发布、传送、传播、储存侵害他人知识产权、商业秘密等合法权利的内容；</li>
                    <li>恶意虚构事实、隐瞒真相以误导、欺骗他人；</li>
                    <li>发布、传送、传播广告信息及垃圾信息；</li>
                    <li>其他法律法规禁止的行为。</li>
                </ol>
                <p>如果您违反了约定，相关国家机关或机构可能会对您提起诉讼、进行行政处罚或采取其他制裁措施，Code Comb 将给于协助。造成损害的，您应依法予以赔偿，Code Comb 不承担任何责任。</p>
                <p>如果 Code Comb 发现或收到他人举报您发布的信息违反约定，Code Comb 有权进行独立判断并采取技术手段予以删除、屏蔽或断开链接。同时，Code Comb 有权视用户的行为性质，采取包括但不限于暂停或终止服务，限制、冻结或终止账户使用，追究法律责任等措施。</p>
                <h4>2. 版权</h4>
                <p>使用我们的服务并不代表您拥有我们的服务或您所访问的内容的任何知识产权。网站上的所有材料（如题目内容、用户界面、Wiki等）版权均受保护，归 Code Comb 所有。除非另有说明，本网站上的材料和服务仅用于个人和非商业用途，未经 Code Comb 书面许可，不得复制、修改、创建衍生作品、传播、出版、公开演示、公开展示和分发从本网站获得的任何信息、文件、产品或服务。</p>
                <h4>3. 您在我们服务中发布的内容</h4>
                <p>我们的某些服务允许您提交内容。您保留对该内容持有的任何知识产权的所有权。</p>
                <p>当您上传内容或通过其他方式向我们的服务提交内容时，您授予 Code Comb 使用、持有、存储、复制、修改、创建衍生作品、传播、出版、公开演示、公开展示和分发此内容等权利。您在此许可中授予的权限，仅能用于运营、宣传和改进我们的服务，以及开发新的服务。该项许可在您停止使用我们的服务后依然有效。某些服务可能会向您提供一些方法，用于访问和删除您提供给该服务的内容。对于您提交至我们服务的任何内容，请确保您拥有向我们授予此许可的必要权利。我们有权在未通知您的情况下删除我们认为侵犯了知识产权或违反了相关法律法规的内容。</p>
                <h4>4. 对于发布题目的附加条款</h4>
                <p>您可以在 Code Comb 上创建新题目。您上传到 Code Comb 的题目，除了适用于本协议第三条（即“您在我们服务中发布的内容”）条款，还包含以下附加条款（若有冲突的条款，以附加条款中的优先）：</p>
                <ol>
                    <li>
                        <p>
                            您上传到 Code Comb 上的题目版权为 Code Comb 和您共同拥有，我们会在相关页面或在对其进行分发、传播等操作时标明版权所有者。
                        </p>
                    </li>
                    <li>
                        <p>
                            Code Comb 尊重他人知识产权和合法权益，请您在上传题目前确保拥有题目内容（包括但不限于题目描述、数据、图片等）的著作权及信息网络传播权或者已经取得上述全部权利人的许可并不存在任何著作权纠纷。Code Comb有权在不通知的情况下删除被认为侵权的题目。
                        </p>
                    </li>
                    <li>
                        <p>
                            您可以申请将自己上传的优质题目合并到题库主干。我们的管理员会对您创建的题目的内容（包括但不限于评测数据等对用户不可见的信息）进行人工审核和适当修改以确认其符合国家基本法律法规。出于质量的考虑，我们也可能会拒绝您完全合法的合并到题库主干的请求。
                        </p>
                    </li>
                    <li>
                        <p>
                            我们会维护服务的稳定，并对数据（包括您递交的题目）进行定期的备份，并尽量在关闭服务前通知您，但我们仍然不对任何题目（包括主干和非主干）提供永久存储或保留的承诺，出于安全的考虑推荐您自行保留题目的内容。
                        </p>
                    </li>
                    <li>
                        <p>您有权决定 Code Comb 是否公开您上传的题目的数据。公开题目数据意味着 Code Comb 上的用户均有权利获取到您递交的题目的所有评测数据，但相关版权协议仍然生效。</p>
                    </li>
                </ol>
                <h4>5. 隐私保护</h4>
                <p><a href="#section-2">Code Comb隐私声明</a>介绍了您在使用我们的服务时，我们会如何处理您的个人数据和保护您的隐私。使用我们的服务即表示您同意 Code Comb 可以按照我们的隐私权政策使用您的个人数据。</p>
                <h4>6. 修改和终止服务</h4>
                <p>我们始终在不断更改和改进我们的服务。我们可能会增加或删除功能，也可能暂停或彻底停止某项服务。</p>
                <p>您可以随时停止使用我们的服务，尽管我们对此表示非常遗憾。Code Comb 也可能随时停止向您提供服务，或随时对我们的服务增加或设置新的限制。</p>
                <h4>7. 保证和免责声明</h4>
                <p>我们对服务内容、服务的具体功能，或其可靠性、可用性或满足您需要的能力不作任何承诺。我们的服务是按照现有技术和条件所能达到的现状提供的。我们会尽最大努力向您提供服务，确保服务的连贯性和安全性。但我们不能随时预见和防范法律、技术以及其他风险，包括但不限于不可抗力、病毒、木马、黑客攻击、系统不稳定、第三方服务瑕疵、政府行为等原因可能导致的服务中断、数据丢失以及其他的损失和风险。</p>
                <h4>8. 关于本条款</h4>
                <p>我们可以修改上述条款或任何适用于某项服务的附加条款，您应当定期查阅本条款。所有修改的适用不具有追溯力，且会在公布十四天或更长时间后方始生效。但是，对服务新功能的特别修改或由于法律原因所作的修改将立即生效。如果您不同意服务的修改条款，应停止使用服务。</p>
                <h4>9. 其他</h4>
                <p>如果您对这个协议或我们的服务有意见或建议，可与我们联系，我们会给予您必要的帮助。</p>
            </div>
        </div>
    </div><div class="grid_3">
        <div class="post-module">
            <h3>Navigator</h3>
            <div class="post-module-content">
                <div class="post-cate-item"><a href="#section-1">关于Code Comb</a></div>
                <div class="post-cate-item"><a href="#section-2">隐私</a></div>
                <div class="post-cate-item"><a href="#section-3">联系我们</a></div>
                <div class="post-cate-item"><a href="#section-4">服务条款</a></div>
            </div>
        </div>
    </div><div class="clear"></div>
</div>