@model string

@{
    ViewBag.Title = "提示信息";
}
<div class="post-detail-body">
    <div class="cont-wrap">
        <div class="grid_12">
            <div class="post-detail-wrap-outer">
                <div class="post-detail-wrap">
                    <div class="post-action"><a href="javascript:history.back()">← 返回</a></div>
                    <div class="post-title"><h2>Message</h2></div>
                    <div class="post-content">
                        <div>@Model</div>
                    </div>
                </div>
            </div>
        </div><div class="clear"></div>
    </div>
</div>
