
@{
    ViewBag.Title = "评级排名";
    ViewBag.BannerTitle = "评级排名";
}

<div class="rank-body">
    <div class="cont-wrap">
        <div class="grid_12">
            <div class="rank-wrap" id="lstRatings">
            </div>
            <div><div class="loading" id="iconLoading"></div></div>
        </div><div class="clear"></div>
    </div>
</div>