@model CodeComb.Entity.Contest
@{
    ViewBag.Title = "比赛排名 - " + Model.Title;
    ViewBag.BannerTitle = Model.Title;
}

<div class="contest-body">
    <div class="cont-wrap">
        <div class="grid_12">
            <div class="post-content shadow" style="background-color:white">
                <table class="rank">
                    <thead>
                        <tr>
                            <th style="width:35px;">排名</th>
                            <th style="width:40px;">头像</th>
                            <th style="width:120px;">昵称</th>
                            @if (Model.Format == ContestFormat.ACM)
                            { 
                                <th style="width:35px;">AC</th>
                                <th style="width:80px;">总罚时</th>
                            }
                            else if (Model.Format == ContestFormat.OI || Model.Format == ContestFormat.OPJOI)
                            { 
                                <th style="width:45px;">分数</th>
                                <th style="width:55px;">耗时</th>
                            }
                            else if (Model.Format == ContestFormat.Codeforces || Model.Format == ContestFormat.TopCoder)
                            {
                                <th style="width:45px;">分数</th>
                                <th style="width:55px;">Hacks</th>
                            }
                            @for (char i = 'A'; i < Model.Problems.Count + 'A'; i++)
                            { 
                                <th>@i</th>
                            }
                        </tr>
                    </thead>
                    <tbody id="lstStandings">
                    </tbody>
                </table>
            </div>
        </div><div class="clear"></div>
    </div>
</div>
@if(ViewBag.AllowHack)
{
    <div style="display:none">
        <div id="HackStatus">
            <h2>Hack</h2>
            <p><a href="javascript:">查看代码</a> <a href="javascript:">上传数据</a> <a href="javascript:">上传数据产生器</a></p>
            <div id="hackStatusCode">
                <pre style="width:100%;height:360px;overflow:auto" id="Code"></pre>
            </div>
            <div id="hackData">
                <textarea id="txtHackData" class="textbox" style="width:100%;height:360px;"></textarea>
                <p><input type="button" class="button button-def" value="提交" /> <input type="button" class="button" value="清空" /></p>
            </div>
            <div id="hackDataMaker">

            </div>
        </div>
    </div>
}
<script>
    id = @Model.ID;
   @if (Model.Format == ContestFormat.TopCoder || Model.Format == ContestFormat.Codeforces)
   { 
    @:key2desc = true;
   }
    @if(ViewBag.AllowHack)
    {
        @:allowhack = true;
    }
</script>