
@{
    ViewBag.Title = "比赛排名 - ";
}

<div class="contest-body">
    <div class="cont-wrap">
        <div class="grid_12">
            <div class="post-content shadow" style="background-color:white">
                <table class="rank">
                    <thead>
                        <tr>
                            <th style="width:35px;">排名</th>
                            <th style="width:40px;">头像</th>
                            <th style="width:120px;">昵称</th>
                            <th style="width:35px;">AC</th>
                            <th style="width:80px;">总罚时</th>
                            <th>A</th>
                            <th>B</th>
                            <th>C</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td><img src="https://www.gravatar.com/avatar/733dbb8048e11b7a9b7a0439f5680170?s=180" class="rank-face" /></td>
                            <td>Gasai Yuno</td>
                            <td>2</td>
                            <td>12:33:01</td>
                            <td class="rank-green">1:33:01<br/>(-1)</td>
                            <td class="rank-red">(-5)</td>
                            <td class="rank-orange">3:22:01</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td><img src="https://www.gravatar.com/avatar/733dbb8048e11b7a9b7a0439f5680170?s=180" class="rank-face" /></td>
                            <td>Gasai Yuno</td>
                            <td>2</td>
                            <td>12:33:01</td>
                            <td>1:33:01<br />(-1)</td>
                            <td>(-5)</td>
                            <td>3:22:01</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td><img src="https://www.gravatar.com/avatar/733dbb8048e11b7a9b7a0439f5680170?s=180" class="rank-face" /></td>
                            <td>Gasai Yuno</td>
                            <td>2</td>
                            <td>12:33:01</td>
                            <td>1:33:01<br />(-1)</td>
                            <td>(-5)</td>
                            <td>3:22:01</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div><div class="clear"></div>
    </div>
</div>
<script src="~/Scripts/codecomb.contest.js"></script>