
@{
    ViewBag.Title = "比赛排名 - ";
}

<div class="contest-body">
    <div class="cont-wrap">
        <div class="grid_12">
            <div class="post-content shadow" style="background-color:white">
                <div class="contest-rank-container">
                    <div class="contest-rank-headers">
                        <div class="contest-rank-fixed">
                            <div class="rank-col rank-col-header rank-col-no">#</div>
                            <!--
                            -->
                            <div class="rank-col rank-col-header rank-col-user">用户</div>
                            <!--
                            -->
                            <div class="rank-col rank-col-header rank-col-ac">AC</div>
                        </div>
                        <!--
                        -->
                        <div class="contest-rank-table">
                            <div class="rank-col rank-col-header rank-col-time">总罚时</div>
                            <!--
                            -->
                            <div class="rank-col rank-col-header rank-col-problem">A</div>
                            <!--
                            -->
                            <div class="rank-col rank-col-header rank-col-problem">B</div>
                            <!--
                            -->
                            <div class="rank-col rank-col-header rank-col-problem">C</div>
                            <!--
                            -->
                            <div class="rank-col rank-col-header rank-col-problem">D</div>
                            <!--
                            -->
                            <div class="rank-col rank-col-header rank-col-problem">E</div>
                        </div>
                    </div>
                    <div class="contest-rank-body">
                        <div class="contest-rank-fixed">
                            <div class="rank-row rank-row-fixed">
                                <div class="rank-col rank-col-no">1</div>
                                <!--
                                -->
                                <div class="rank-col rank-col-user">Breezewish</div>
                                <!--
                                -->
                                <div class="rank-col rank-col-ac">5</div>
                            </div>
                            <div class="rank-row rank-row-fixed">
                                <div class="rank-col rank-col-no">2</div>
                                <!--
                                -->
                                <div class="rank-col rank-col-user">Breezewish2</div>
                                <!--
                                -->
                                <div class="rank-col rank-col-ac">5</div>
                            </div>
                            <div class="rank-row rank-row-fixed">
                                <div class="rank-col rank-col-no">3</div>
                                <!--
                                -->
                                <div class="rank-col rank-col-user">Breezewish3</div>
                                <!--
                                -->
                                <div class="rank-col rank-col-ac">5</div>
                            </div>
                            <div class="rank-row rank-row-fixed">
                                <div class="rank-col rank-col-no">4</div>
                                <!--
                                -->
                                <div class="rank-col rank-col-user">Breezewish4</div>
                                <!--
                                -->
                                <div class="rank-col rank-col-ac">5</div>
                            </div>
                            <div class="rank-row rank-row-fixed">
                                <div class="rank-col rank-col-no">5</div>
                                <!--
                                -->
                                <div class="rank-col rank-col-user">Breezewish5</div>
                                <!--
                                -->
                                <div class="rank-col rank-col-ac">5</div>
                            </div>
                            <div class="rank-row rank-row-fixed">
                                <div class="rank-col rank-col-no">6</div>
                                <!--
                                -->
                                <div class="rank-col rank-col-user">Breezewish6</div>
                                <!--
                                -->
                                <div class="rank-col rank-col-ac">5</div>
                            </div>
                            <div class="rank-row rank-row-fixed">
                                <div class="rank-col rank-col-no">7</div>
                                <!--
                                -->
                                <div class="rank-col rank-col-user">Breezewish7</div>
                                <!--
                                -->
                                <div class="rank-col rank-col-ac">5</div>
                            </div>
                            <div class="rank-row rank-row-fixed">
                                <div class="rank-col rank-col-no">8</div>
                                <!--
                                -->
                                <div class="rank-col rank-col-user">Breezewish8</div>
                                <!--
                                -->
                                <div class="rank-col rank-col-ac">5</div>
                            </div>
                            <div class="rank-row rank-row-fixed">
                                <div class="rank-col rank-col-no">8</div>
                                <!--
                                -->
                                <div class="rank-col rank-col-user">Breezewish8</div>
                                <!--
                                -->
                                <div class="rank-col rank-col-ac">5</div>
                            </div>
                            <div class="rank-row rank-row-fixed">
                                <div class="rank-col rank-col-no">8</div>
                                <!--
                                -->
                                <div class="rank-col rank-col-user">Breezewish8</div>
                                <!--
                                -->
                                <div class="rank-col rank-col-ac">5</div>
                            </div>
                            <div class="rank-row rank-row-fixed">
                                <div class="rank-col rank-col-no">8</div>
                                <!--
                                -->
                                <div class="rank-col rank-col-user">Breezewish8</div>
                                <!--
                                -->
                                <div class="rank-col rank-col-ac">5</div>
                            </div>
                            <div class="rank-row rank-row-fixed">
                                <div class="rank-col rank-col-no">8</div>
                                <!--
                                -->
                                <div class="rank-col rank-col-user">Breezewish8</div>
                                <!--
                                -->
                                <div class="rank-col rank-col-ac">5</div>
                            </div>
                            <div class="rank-row rank-row-fixed">
                                <div class="rank-col rank-col-no">8</div>
                                <!--
                                -->
                                <div class="rank-col rank-col-user">Breezewish8</div>
                                <!--
                                -->
                                <div class="rank-col rank-col-ac">5</div>
                            </div>
                            <div class="rank-row rank-row-fixed">
                                <div class="rank-col rank-col-no">8</div>
                                <!--
                                -->
                                <div class="rank-col rank-col-user">Breezewish8</div>
                                <!--
                                -->
                                <div class="rank-col rank-col-ac">5</div>
                            </div>
                            <div class="rank-row rank-row-fixed">
                                <div class="rank-col rank-col-no">8</div>
                                <!--
                                -->
                                <div class="rank-col rank-col-user">Breezewish8</div>
                                <!--
                                -->
                                <div class="rank-col rank-col-ac">5</div>
                            </div>
                            <div class="rank-row rank-row-fixed">
                                <div class="rank-col rank-col-no">8</div>
                                <!--
                                -->
                                <div class="rank-col rank-col-user">Breezewish8</div>
                                <!--
                                -->
                                <div class="rank-col rank-col-ac">5</div>
                            </div>
                            <div class="rank-row rank-row-fixed">
                                <div class="rank-col rank-col-no">8</div>
                                <!--
                                -->
                                <div class="rank-col rank-col-user">Breezewish8</div>
                                <!--
                                -->
                                <div class="rank-col rank-col-ac">5</div>
                            </div>
                            <div class="rank-row rank-row-fixed">
                                <div class="rank-col rank-col-no">8</div>
                                <!--
                                -->
                                <div class="rank-col rank-col-user">Breezewish8</div>
                                <!--
                                -->
                                <div class="rank-col rank-col-ac">5</div>
                            </div>
                            <div class="rank-row rank-row-fixed">
                                <div class="rank-col rank-col-no">8</div>
                                <!--
                                -->
                                <div class="rank-col rank-col-user">Breezewish8</div>
                                <!--
                                -->
                                <div class="rank-col rank-col-ac">5</div>
                            </div>
                            <div class="rank-row rank-row-fixed">
                                <div class="rank-col rank-col-no">8</div>
                                <!--
                                -->
                                <div class="rank-col rank-col-user">Breezewish8</div>
                                <!--
                                -->
                                <div class="rank-col rank-col-ac">5</div>
                            </div>
                            <div class="rank-row rank-row-fixed">
                                <div class="rank-col rank-col-no">8</div>
                                <!--
                                -->
                                <div class="rank-col rank-col-user">Breezewish8</div>
                                <!--
                                -->
                                <div class="rank-col rank-col-ac">5</div>
                            </div>
                            <div class="rank-row rank-row-fixed">
                                <div class="rank-col rank-col-no">8</div>
                                <!--
                                -->
                                <div class="rank-col rank-col-user">Breezewish8</div>
                                <!--
                                -->
                                <div class="rank-col rank-col-ac">5</div>
                            </div>
                            <div class="rank-row rank-row-fixed">
                                <div class="rank-col rank-col-no">8</div>
                                <!--
                                -->
                                <div class="rank-col rank-col-user">Breezewish8</div>
                                <!--
                                -->
                                <div class="rank-col rank-col-ac">5</div>
                            </div>
                            <div class="rank-row rank-row-fixed">
                                <div class="rank-col rank-col-no">8</div>
                                <!--
                                -->
                                <div class="rank-col rank-col-user">Breezewish8</div>
                                <!--
                                -->
                                <div class="rank-col rank-col-ac">5</div>
                            </div>
                            <div class="rank-row rank-row-fixed">
                                <div class="rank-col rank-col-no">8</div>
                                <!--
                                -->
                                <div class="rank-col rank-col-user">Breezewish8</div>
                                <!--
                                -->
                                <div class="rank-col rank-col-ac">5</div>
                            </div>
                            <div class="rank-row rank-row-fixed">
                                <div class="rank-col rank-col-no">8</div>
                                <!--
                                -->
                                <div class="rank-col rank-col-user">Breezewish8</div>
                                <!--
                                -->
                                <div class="rank-col rank-col-ac">5</div>
                            </div>
                            <div class="rank-row rank-row-fixed">
                                <div class="rank-col rank-col-no">8</div>
                                <!--
                                -->
                                <div class="rank-col rank-col-user">Breezewish8</div>
                                <!--
                                -->
                                <div class="rank-col rank-col-ac">5</div>
                            </div>
                            <div class="rank-row rank-row-fixed">
                                <div class="rank-col rank-col-no">8</div>
                                <!--
                                -->
                                <div class="rank-col rank-col-user">Breezewish8</div>
                                <!--
                                -->
                                <div class="rank-col rank-col-ac">5</div>
                            </div>
                        </div>
                        <!--
                        -->
                        <div class="contest-rank-table">
                            <div class="rank-row">
                                <div class="rank-col rank-col-time">??:??:??</div>
                                <!--
                                -->
                                <div class="rank-col rank-col-problem">00:00:00</div>
                                <!--
                                -->
                                <div class="rank-col rank-col-problem">00:00:00</div>
                                <!--
                                -->
                                <div class="rank-col rank-col-problem">00:00:00</div>
                                <!--
                                -->
                                <div class="rank-col rank-col-problem">00:00:00</div>
                                <!--
                                -->
                                <div class="rank-col rank-col-problem">00:00:00</div>
                            </div>
                            <div class="rank-row">
                                <div class="rank-col rank-col-time">??:??:??</div>
                                <!--
                                -->
                                <div class="rank-col rank-col-problem">00:00:00</div>
                                <!--
                                -->
                                <div class="rank-col rank-col-problem">00:00:00</div>
                                <!--
                                -->
                                <div class="rank-col rank-col-problem">00:00:00</div>
                                <!--
                                -->
                                <div class="rank-col rank-col-problem">00:00:00</div>
                                <!--
                                -->
                                <div class="rank-col rank-col-problem">00:00:00</div>
                            </div>
                            <div class="rank-row">
                                <div class="rank-col rank-col-time">??:??:??</div>
                                <!--
                                -->
                                <div class="rank-col rank-col-problem">00:00:00</div>
                                <!--
                                -->
                                <div class="rank-col rank-col-problem">00:00:00</div>
                                <!--
                                -->
                                <div class="rank-col rank-col-problem">00:00:00</div>
                                <!--
                                -->
                                <div class="rank-col rank-col-problem">00:00:00</div>
                                <!--
                                -->
                                <div class="rank-col rank-col-problem">00:00:00</div>
                            </div>
                            <div class="rank-row">
                                <div class="rank-col rank-col-time">??:??:??</div>
                                <!--
                                -->
                                <div class="rank-col rank-col-problem">00:00:00</div>
                                <!--
                                -->
                                <div class="rank-col rank-col-problem">00:00:00</div>
                                <!--
                                -->
                                <div class="rank-col rank-col-problem">00:00:00</div>
                                <!--
                                -->
                                <div class="rank-col rank-col-problem">00:00:00</div>
                                <!--
                                -->
                                <div class="rank-col rank-col-problem">00:00:00</div>
                            </div>
                            <div class="rank-row">
                                <div class="rank-col rank-col-time">??:??:??</div>
                                <!--
                                -->
                                <div class="rank-col rank-col-problem">00:00:00</div>
                                <!--
                                -->
                                <div class="rank-col rank-col-problem">00:00:00</div>
                                <!--
                                -->
                                <div class="rank-col rank-col-problem">00:00:00</div>
                                <!--
                                -->
                                <div class="rank-col rank-col-problem">00:00:00</div>
                                <!--
                                -->
                                <div class="rank-col rank-col-problem">00:00:00</div>
                            </div>
                            <div class="rank-row">
                                <div class="rank-col rank-col-time">??:??:??</div>
                                <!--
                                -->
                                <div class="rank-col rank-col-problem">00:00:00</div>
                                <!--
                                -->
                                <div class="rank-col rank-col-problem">00:00:00</div>
                                <!--
                                -->
                                <div class="rank-col rank-col-problem">00:00:00</div>
                                <!--
                                -->
                                <div class="rank-col rank-col-problem">00:00:00</div>
                                <!--
                                -->
                                <div class="rank-col rank-col-problem">00:00:00</div>
                            </div>
                            <div class="rank-row">
                                <div class="rank-col rank-col-time">??:??:??</div>
                                <!--
                                -->
                                <div class="rank-col rank-col-problem">00:00:00</div>
                                <!--
                                -->
                                <div class="rank-col rank-col-problem">00:00:00</div>
                                <!--
                                -->
                                <div class="rank-col rank-col-problem">00:00:00</div>
                                <!--
                                -->
                                <div class="rank-col rank-col-problem">00:00:00</div>
                                <!--
                                -->
                                <div class="rank-col rank-col-problem">00:00:00</div>
                            </div>
                            <div class="rank-row">
                                <div class="rank-col rank-col-time">??:??:??</div>
                                <!--
                                -->
                                <div class="rank-col rank-col-problem">00:00:00</div>
                                <!--
                                -->
                                <div class="rank-col rank-col-problem">00:00:00</div>
                                <!--
                                -->
                                <div class="rank-col rank-col-problem">00:00:00</div>
                                <!--
                                -->
                                <div class="rank-col rank-col-problem">00:00:00</div>
                                <!--
                                -->
                                <div class="rank-col rank-col-problem">00:00:00</div>
                            </div>
                            <div class="rank-row">
                                <div class="rank-col rank-col-time">??:??:??</div>
                                <!--
                                -->
                                <div class="rank-col rank-col-problem">00:00:00</div>
                                <!--
                                -->
                                <div class="rank-col rank-col-problem">00:00:00</div>
                                <!--
                                -->
                                <div class="rank-col rank-col-problem">00:00:00</div>
                                <!--
                                -->
                                <div class="rank-col rank-col-problem">00:00:00</div>
                                <!--
                                -->
                                <div class="rank-col rank-col-problem">00:00:00</div>
                            </div>
                            <div class="rank-row">
                                <div class="rank-col rank-col-time">??:??:??</div>
                                <!--
                                -->
                                <div class="rank-col rank-col-problem">00:00:00</div>
                                <!--
                                -->
                                <div class="rank-col rank-col-problem">00:00:00</div>
                                <!--
                                -->
                                <div class="rank-col rank-col-problem">00:00:00</div>
                                <!--
                                -->
                                <div class="rank-col rank-col-problem">00:00:00</div>
                                <!--
                                -->
                                <div class="rank-col rank-col-problem">00:00:00</div>
                            </div>
                            <div class="rank-row">
                                <div class="rank-col rank-col-time">??:??:??</div>
                                <!--
                                -->
                                <div class="rank-col rank-col-problem">00:00:00</div>
                                <!--
                                -->
                                <div class="rank-col rank-col-problem">00:00:00</div>
                                <!--
                                -->
                                <div class="rank-col rank-col-problem">00:00:00</div>
                                <!--
                                -->
                                <div class="rank-col rank-col-problem">00:00:00</div>
                                <!--
                                -->
                                <div class="rank-col rank-col-problem">00:00:00</div>
                            </div>
                            <div class="rank-row">
                                <div class="rank-col rank-col-time">??:??:??</div>
                                <!--
                                -->
                                <div class="rank-col rank-col-problem">00:00:00</div>
                                <!--
                                -->
                                <div class="rank-col rank-col-problem">00:00:00</div>
                                <!--
                                -->
                                <div class="rank-col rank-col-problem">00:00:00</div>
                                <!--
                                -->
                                <div class="rank-col rank-col-problem">00:00:00</div>
                                <!--
                                -->
                                <div class="rank-col rank-col-problem">00:00:00</div>
                            </div>
                            <div class="rank-row">
                                <div class="rank-col rank-col-time">??:??:??</div>
                                <!--
                                -->
                                <div class="rank-col rank-col-problem">00:00:00</div>
                                <!--
                                -->
                                <div class="rank-col rank-col-problem">00:00:00</div>
                                <!--
                                -->
                                <div class="rank-col rank-col-problem">00:00:00</div>
                                <!--
                                -->
                                <div class="rank-col rank-col-problem">00:00:00</div>
                                <!--
                                -->
                                <div class="rank-col rank-col-problem">00:00:00</div>
                            </div>
                            <div class="rank-row">
                                <div class="rank-col rank-col-time">??:??:??</div>
                                <!--
                                -->
                                <div class="rank-col rank-col-problem">00:00:00</div>
                                <!--
                                -->
                                <div class="rank-col rank-col-problem">00:00:00</div>
                                <!--
                                -->
                                <div class="rank-col rank-col-problem">00:00:00</div>
                                <!--
                                -->
                                <div class="rank-col rank-col-problem">00:00:00</div>
                                <!--
                                -->
                                <div class="rank-col rank-col-problem">00:00:00</div>
                            </div>
                            <div class="rank-row">
                                <div class="rank-col rank-col-time">??:??:??</div>
                                <!--
                                -->
                                <div class="rank-col rank-col-problem">00:00:00</div>
                                <!--
                                -->
                                <div class="rank-col rank-col-problem">00:00:00</div>
                                <!--
                                -->
                                <div class="rank-col rank-col-problem">00:00:00</div>
                                <!--
                                -->
                                <div class="rank-col rank-col-problem">00:00:00</div>
                                <!--
                                -->
                                <div class="rank-col rank-col-problem">00:00:00</div>
                            </div>
                            <div class="rank-row">
                                <div class="rank-col rank-col-time">??:??:??</div>
                                <!--
                                -->
                                <div class="rank-col rank-col-problem">00:00:00</div>
                                <!--
                                -->
                                <div class="rank-col rank-col-problem">00:00:00</div>
                                <!--
                                -->
                                <div class="rank-col rank-col-problem">00:00:00</div>
                                <!--
                                -->
                                <div class="rank-col rank-col-problem">00:00:00</div>
                                <!--
                                -->
                                <div class="rank-col rank-col-problem">00:00:00</div>
                            </div>
                            <div class="rank-row">
                                <div class="rank-col rank-col-time">??:??:??</div>
                                <!--
                                -->
                                <div class="rank-col rank-col-problem">00:00:00</div>
                                <!--
                                -->
                                <div class="rank-col rank-col-problem">00:00:00</div>
                                <!--
                                -->
                                <div class="rank-col rank-col-problem">00:00:00</div>
                                <!--
                                -->
                                <div class="rank-col rank-col-problem">00:00:00</div>
                                <!--
                                -->
                                <div class="rank-col rank-col-problem">00:00:00</div>
                            </div>
                            <div class="rank-row">
                                <div class="rank-col rank-col-time">??:??:??</div>
                                <!--
                                -->
                                <div class="rank-col rank-col-problem">00:00:00</div>
                                <!--
                                -->
                                <div class="rank-col rank-col-problem">00:00:00</div>
                                <!--
                                -->
                                <div class="rank-col rank-col-problem">00:00:00</div>
                                <!--
                                -->
                                <div class="rank-col rank-col-problem">00:00:00</div>
                                <!--
                                -->
                                <div class="rank-col rank-col-problem">00:00:00</div>
                            </div>
                            <div class="rank-row">
                                <div class="rank-col rank-col-time">??:??:??</div>
                                <!--
                                -->
                                <div class="rank-col rank-col-problem">00:00:00</div>
                                <!--
                                -->
                                <div class="rank-col rank-col-problem">00:00:00</div>
                                <!--
                                -->
                                <div class="rank-col rank-col-problem">00:00:00</div>
                                <!--
                                -->
                                <div class="rank-col rank-col-problem">00:00:00</div>
                                <!--
                                -->
                                <div class="rank-col rank-col-problem">00:00:00</div>
                            </div>
                            <div class="rank-row">
                                <div class="rank-col rank-col-time">??:??:??</div>
                                <!--
                                -->
                                <div class="rank-col rank-col-problem">00:00:00</div>
                                <!--
                                -->
                                <div class="rank-col rank-col-problem">00:00:00</div>
                                <!--
                                -->
                                <div class="rank-col rank-col-problem">00:00:00</div>
                                <!--
                                -->
                                <div class="rank-col rank-col-problem">00:00:00</div>
                                <!--
                                -->
                                <div class="rank-col rank-col-problem">00:00:00</div>
                            </div>
                            <div class="rank-row">
                                <div class="rank-col rank-col-time">??:??:??</div>
                                <!--
                                -->
                                <div class="rank-col rank-col-problem">00:00:00</div>
                                <!--
                                -->
                                <div class="rank-col rank-col-problem">00:00:00</div>
                                <!--
                                -->
                                <div class="rank-col rank-col-problem">00:00:00</div>
                                <!--
                                -->
                                <div class="rank-col rank-col-problem">00:00:00</div>
                                <!--
                                -->
                                <div class="rank-col rank-col-problem">00:00:00</div>
                            </div>
                            <div class="rank-row">
                                <div class="rank-col rank-col-time">??:??:??</div>
                                <!--
                                -->
                                <div class="rank-col rank-col-problem">00:00:00</div>
                                <!--
                                -->
                                <div class="rank-col rank-col-problem">00:00:00</div>
                                <!--
                                -->
                                <div class="rank-col rank-col-problem">00:00:00</div>
                                <!--
                                -->
                                <div class="rank-col rank-col-problem">00:00:00</div>
                                <!--
                                -->
                                <div class="rank-col rank-col-problem">00:00:00</div>
                            </div>
                            <div class="rank-row">
                                <div class="rank-col rank-col-time">??:??:??</div>
                                <!--
                                -->
                                <div class="rank-col rank-col-problem">00:00:00</div>
                                <!--
                                -->
                                <div class="rank-col rank-col-problem">00:00:00</div>
                                <!--
                                -->
                                <div class="rank-col rank-col-problem">00:00:00</div>
                                <!--
                                -->
                                <div class="rank-col rank-col-problem">00:00:00</div>
                                <!--
                                -->
                                <div class="rank-col rank-col-problem">00:00:00</div>
                            </div>
                            <div class="rank-row">
                                <div class="rank-col rank-col-time">??:??:??</div>
                                <!--
                                -->
                                <div class="rank-col rank-col-problem">00:00:00</div>
                                <!--
                                -->
                                <div class="rank-col rank-col-problem">00:00:00</div>
                                <!--
                                -->
                                <div class="rank-col rank-col-problem">00:00:00</div>
                                <!--
                                -->
                                <div class="rank-col rank-col-problem">00:00:00</div>
                                <!--
                                -->
                                <div class="rank-col rank-col-problem">00:00:00</div>
                            </div>
                            <div class="rank-row">
                                <div class="rank-col rank-col-time">??:??:??</div>
                                <!--
                                -->
                                <div class="rank-col rank-col-problem">00:00:00</div>
                                <!--
                                -->
                                <div class="rank-col rank-col-problem">00:00:00</div>
                                <!--
                                -->
                                <div class="rank-col rank-col-problem">00:00:00</div>
                                <!--
                                -->
                                <div class="rank-col rank-col-problem">00:00:00</div>
                                <!--
                                -->
                                <div class="rank-col rank-col-problem">00:00:00</div>
                            </div>
                            <div class="rank-row">
                                <div class="rank-col rank-col-time">??:??:??</div>
                                <!--
                                -->
                                <div class="rank-col rank-col-problem">00:00:00</div>
                                <!--
                                -->
                                <div class="rank-col rank-col-problem">00:00:00</div>
                                <!--
                                -->
                                <div class="rank-col rank-col-problem">00:00:00</div>
                                <!--
                                -->
                                <div class="rank-col rank-col-problem">00:00:00</div>
                                <!--
                                -->
                                <div class="rank-col rank-col-problem">00:00:00</div>
                            </div>
                            <div class="rank-row">
                                <div class="rank-col rank-col-time">??:??:??</div>
                                <!--
                                -->
                                <div class="rank-col rank-col-problem">00:00:00</div>
                                <!--
                                -->
                                <div class="rank-col rank-col-problem">00:00:00</div>
                                <!--
                                -->
                                <div class="rank-col rank-col-problem">00:00:00</div>
                                <!--
                                -->
                                <div class="rank-col rank-col-problem">00:00:00</div>
                                <!--
                                -->
                                <div class="rank-col rank-col-problem">00:00:00</div>
                            </div>
                            <div class="rank-row">
                                <div class="rank-col rank-col-time">??:??:??</div>
                                <!--
                                -->
                                <div class="rank-col rank-col-problem">00:00:00</div>
                                <!--
                                -->
                                <div class="rank-col rank-col-problem">00:00:00</div>
                                <!--
                                -->
                                <div class="rank-col rank-col-problem">00:00:00</div>
                                <!--
                                -->
                                <div class="rank-col rank-col-problem">00:00:00</div>
                                <!--
                                -->
                                <div class="rank-col rank-col-problem">00:00:00</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><div class="clear"></div>
    </div>
</div>
<script src="~/Scripts/codecomb.contest.js"></script>